

/*my code*/

.container-event {
    position: relative;
}

.line {
    position: relative;
    /* width: 1000px; */
    height: 2px;
    margin: 32px 0 0 0;
    background-color: #000000;
    z-index: 1;
}

.per-events-container {
    display: grid;
    grid-template-columns: minmax(5%, 1fr) 47% 35%;
    text-wrap: wrap;
    gap: 16px;
    padding: 16px 0 0 0;
    grid-auto-flow: dense;
}

.events-date-container {
    position: relative;
}

.herspective-image {
    /* margin-left: 32px; */
}

.date-number {
    font-size: 3.14rem;
}

.per-events-details {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    text-align: start;
}

.events-title {
    font-size: 2rem;
}

.upcoming-title {
    font-size: 1.54rem;
    color: #a30a24;
}

.ratedr-span {
    font-size: 1.54rem;
}

.per-events-desc {
    margin-top: 30px
}

.link-deco {
    color: #a30a24;
    text-decoration: none;
    margin-top: 80px;
}

.viva-image {
    /* width: 100%; */
}

/* .event-image-container {
    display: flex;
    justify-content: center;
    align-items: center;
} */

@media (max-width: 1560px) {
    .per-events-container {
        grid-template-columns: minmax(5%, 1fr) 47% 35%;
        grid-auto-flow: column;
    }

    .viva-image {
        width: 95%;
    }
        
}
@media (max-width: 1240px) {
    .per-events-container {
        grid-template-columns: 1fr;
        grid-auto-flow: row;
        width: 450px;
    }

        .viva-image {
            width: 100%;
        }
        
}

/* Additional media query for screens below 480px */
@media (max-width: 480px) {
    .per-events-container {
        grid-template-columns: 1fr;
        padding: 8px;
        text-align: center;
        width: 360px;
    }

    .event-month {
        font-size: 1rem;
        color: #ababab;
        font-weight: 400;
    }
    
    .date-number {
        font-size: 1rem;
        /* Reduce font size */
    }

    .events-title {
        font-size: 1.5rem;
        /* Reduce title size */
    }
    
    .events-date-container {
        text-align: left;
        margin: 12px 0 12px 0;
    }

    .upcoming-title,
    .ratedr-span {
        font-size: 1.2rem;
    }

    .link-deco {
        margin-top: 40px;
        /* Adjust margin */
    }
    .viva-image {
        width: 100%;
    }
}