:root {
    --default-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
        Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
        "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
        "Source Han Sans CN", sans-serif;
}

/* .main-container {
    overflow: hidden;
}

.main-container,
.main-container * {
    box-sizing: border-box;
} */

input,
select,
textarea,
button {
    outline: 0;
}





/*my code*/

.container-event {
    position: relative;
    width: 1000px;
}

.line {
    position: relative;
    width: 1000px;
    height: 2px;
    margin: 32px 0 0 0;
    /* background: url(./assets/images/caa28222-4225-49df-9e33-02cd2a347ff7.png) no-repeat center; */
    /* background-size: cover; */
    background-color: #000000;
    z-index: 1;
}

.per-events-container {
    display: grid;
    grid-template-columns: repeat(3, auto);
    gap: 32px;
    /* Adjust the gap between grid items if needed */
    padding: 16px;
    /* Optional padding inside the container */
    grid-auto-flow: dense;
    /* Helps to fill empty spaces if content varies in size */
    /* background-color: #a30a24; */
}

.events-date-container {
    position: relative;
}

.herspective-image {
    margin-left: 32px;
}

.date-number {
    font-size: 3.14rem;
}

.per-events-details {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    text-align: start;
    /* gap: 32px; */
}

.events-title {
    font-size: 2rem;
}

.upcoming-title {
    font-size: 1.54rem;
    color: #a30a24;
}

.ratedr-span {
    font-size: 1.54rem;
}

.per-events-desc {
    margin-top: 30px
}

.link-deco {
    color: #a30a24;
    text-decoration: none;
    margin-top: 80px;
}